
    <ngb-accordion style="margin: 10px">
      <ngb-panel>
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
            <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" style="margin-left: auto; font-size:large;">Program</button></h3>
            <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" (click)="remove()" style="margin-left: auto; font-size:large;">Remove</button></h3>
            </div>
            <ng-template ngbPanelContent>

                  
                  <div > 
                    <!-- Program Start -->
                
                    <!-- Splice Command Type -->
                    <br><h4>Program Start:</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="splice_command_type_start">Splice Command Type: </label>
                            <select id="program_splice_comand_type_start" name="splice_command_type_start" class="form-control"  style="margin-left: 10px;">
                                <option value="5">5</option>
                            </select>
                        </div>
                    </form>
                    <!-- Segmentation Type Id  -->
                    <label for="program_start_table" style="font-size: larger;color:#00A8E0">Input Trigger</label>
                    <table id="program_start_table" class ="table table-striped">
                        <tbody>
                        <tr>
                        <th>segmentation_type_id</th><td></td>
                        <td><select id="program_segmentation_type_id" class="form-control">
                            <option value="16">16</option>
                        </select></td>
                        </tr>
                    <!-- Duration Flag for Segmentation Duration -->
                        <tr>
                            <th>duration_flag</th><td></td>
                            <td><select id="program_duration_flag" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>
                    <!-- Segmentation Duration - Input -->
                        <tr >
                            <th>segmentation_duration</th>
                            <td ><select class="form-control">
                                <option value="" disabled selected hidden>Change Segmentation Duration Type</option>
                                <option value=true>Exact Time (seconds)</option>
                                <option value=false>Time Range (seconds)</option>
                            </select></td>
                        <!-- <td *ngIf="Program?.value[0].program_start.input_trigger.segmentation_duration_min==Program?.value[0].program_start.input_trigger.segmentation_duration_max"> -->
                            <td *ngIf="segmentationDurationExact">
                                <input [(ngModel)]="segmentationDurationExactAmount" (change)="setExactSegmentationDuration(true)" class="form-control" type="number" step=any placeholder = {{Program?.value[0].program_start.input_trigger.segmentation_duration_min}}>
                            </td>
                        <!-- <td *ngIf="Program?.value[0].program_start.input_trigger.segmentation_duration_min!=Program?.value[0].program_start.input_trigger.segmentation_duration_max"> -->
                            <td >
                                <div class="form-group row">
                                    <label for="segmentation_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                    <div class="col-sm-4">
                                        <input  id="program_segmentation_duration_min" class="form-control" type="number" step=any >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="segmentation_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                    <div class="col-sm-4">
                                        <input  id="program_segmentation_duration_max" class="form-control" type="number" step=any >
                                    </div>
                                </div> 
                            </td>
                        </tr>
                
                    <!-- Properties End -->
                        </tbody>
                    </table>
                
                <!-- Program Start - Output Trigger -->
                    <div >
                        <label for="program_start_table" style="font-size: larger;color:#00A8E0">Output Trigger</label>
                        <table id="program_start_table" class ="table table-striped">
                            <tbody>
                                <tr >
                                    <th>segmentation_duration</th>
                                    <td ><select (change)="makeExactSegmentationDuration($event.target.value, false)" class="form-control">
                                        <option value="" disabled selected hidden>Change Segmentation Duration Type</option>
                                        <option value=true>Exact Time (seconds)</option>
                                        <option value=false>Time Range (seconds)</option>
                                    </select></td>
                                    <!-- <td *ngIf="Program?.value[0].program_start.input_trigger.segmentation_duration_min==Program?.value[0].program_start.input_trigger.segmentation_duration_max"> -->
                                    <td >
                                        <!-- <input [(ngModel)]="segmentationDurationExactAmountOutput" (change)="setExactSegmentationDuration(false)" class="form-control" type="number" step=any placeholder = {{Program?.value[0].program_start.output_trigger.segmentation_duration_min}}> -->
                                    </td>
                                    <!-- <td *ngIf="Program?.value[0].program_start.input_trigger.segmentation_duration_min!=Program?.value[0].program_start.input_trigger.segmentation_duration_max"> -->
                                    <td>
                                        <div class="form-group row">
                                            <label for="segmentation_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                            <div class="col-sm-4">
                                                <input  id="program_output_segmentation_duration_min" class="form-control" type="number" step=any >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="segmentation_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                            <div class="col-sm-4">
                                                <input  id="program_output_segmentation_duration_max" class="form-control" type="number" step=any >
                                            </div>
                                        </div>                
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Properties End -->
                    <!-- Properties VCR Hide -->
                    </div>
                
                </ng-template>
          </ng-template>
      </ngb-panel>
    </ngb-accordion>

