        <ngb-accordion style="margin: 10px" id="RemoveNational" [destroyOnHide]="false">
          <ngb-panel>
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" style="margin-left: auto; font-size:large;">National Break</button></h3>
                <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" (click)="removeNational()" style="margin-left: auto; font-size:large;">Remove</button></h3>
                </div>
                    <ng-template ngbPanelContent>
                      <span *ngFor="let items of item?.value; let i = index">
                        
                      </span>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input">
                        <!-- <input [(ngModel)]="localBreak?.value[0].validate_splice_count" type="checkbox" class="custom-control-input" id="validate_splice_count"> -->
                        <label class="custom-control-label" for="validate_splice_count">Validate Splice Count</label>
                    </div>
                    <br>
                    <form class=form-inline>
                        <div class="form-group">
                            <!-- <div *ngIf="localBreak?.value[0].validate_splice_count" class="form-group"> -->
                            <label for="expected_splices_hour">Expected Splices Per Hour: </label>
                            <input  id ="national_break_expected_splices_hour" class="form-control" name="expected_splices_hour"  type="number" step=any  style="display:inline-block;margin-left:10px;width:60px">
                            <!-- <input [(ngModel)]="localBreak?.value[0].expected_splices_hour" class="form-control" name="expected_splices_hour" id="expected_splices_hour" type="number" step=any placeholder={{localBreak?.value[0].expected_splices_hour}} style="display:inline-block;margin-left:10px;width:60px"> -->
                        </div>
                    </form>
                    <!-- National Break Start -->
                    <br><h4>National Break</h4>
                    <br><h5>Start Trigger</h5>
                    <form class="form-inline">
                        <div class="form-group">
                        </div>
                    </form>
                    <!-- National Break Start - Input Trigger -->
                    <label for="national_break_start_table" style="font-size: larger;color:#00A8E0">Input Trigger</label>
                    <table  class ="table table-striped">
                        <tbody>
                            <!-- If Splice Command Type is [6], then remove Action -->
                            <!-- Hide output trigger if action is 'replace' -->
                            <tr>
                                <th>Action</th><td></td>
                                <td><select id="national_break_start_input_action"  class="form-control" >
                                    <!-- <td><select [(ngModel)]="localBreak?.value[0].local_break_start.action" (change)="this.setStartOutput()" class="form-control" id="action"> -->
                                    <option value="NOOP">NOOP</option>
                                    <option value="DELETE">DELETE</option>
                                    <option value="REPLACE">REPLACE</option>
                                </select></td>
                            </tr>
                            <!-- If Splice Command Type is [6], then the value for splice command should be [6] for both input and output trigger -->
                            <tr>
                                <th>Splice Command Type</th><td></td>
                                <td><select id="national_break_start_input_splice_command" name="splice_command_type_start" class="form-control" >
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select></td>
                            </tr>
                        
                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <tr>
                                <th>Segmentation Type Id</th><td></td>
                                <td><select id="national_break_start_input_segmentation_type_id" name="segmentation_type_id_start" class="form-control" >
                                    <option value="10">10&nbsp;  [ Program Start ]</option>
                                    <option value="20">20&nbsp;  [ Chapter Start ]</option>
                                    <option value="22">22&nbsp;  [ Break Start ]</option>
                                    <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                                    <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                                    <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                                    <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                                    <option value="40">40&nbsp;  [ Unscheduled Event Start ]</option>
                                    <option value="50">50&nbsp;  [ Network Start ]</option>
                                </select></td>
                            </tr>
                            
                            <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                            <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                            <tr>
                                <th>Out of Network Indicator</th><td></td>
                                <td><select id="national_break_start_input_out_of_network_indicator" class="form-control">
                                    <option value="true">true</option>
                                </select></td>
                            </tr>

                            <!-- If Splice Command Type is [5], then show Splice Event Id -->
                            <!-- If Splice Command Type is [6], then remove Out of Splice Event Id -->
                            <tr>
                                <th>Splice Event Id</th><td></td>
                                <td><select id="national_break_start_input_splice_event_id" class="form-control">
                                    <option value="isnumeric">Must Be Numeric</option>
                                    <option value="notnumeric">Not Numeric</option>
                                </select></td>
                            </tr>
                            
                            <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                            <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                            <tr>
                                <th>Immediate Flag</th><td></td>
                                <td><select id="national_break_start_input_splice_immediate_flag" class="form-control">
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select></td>
                            </tr>

                            <tr>
                                <th>Duration Flag</th><td></td>
                                <td><select id="national_break_start_input_duration_flag" class="form-control">
                                    <option value="true" >true</option>
                                    <option value="false">false</option>
                                </select></td>
                            </tr>

                            <tr>
                            <!-- <tr *ngIf="localBreak?.value[0].local_break_start.input_trigger.duration_flag==true"> -->
                                <th>Break Duration</th>
                                <td><select id= "national_break_start_input_break_duration" class="form-control">
                                <!-- <td><select (change)="makeExactBreakDuration($event.target.value, true)" class="form-control"> -->
                                    <option value="">Change Break Duration Type</option>
                                    <option>Exact Time (seconds)</option>
                                    <option>Time Range (seconds)</option>
                                </select></td>
                                <!-- <td *ngIf="nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min==nationalBreak?.value[0].national_break_start.input_trigger.break_duration_max"> -->
                                <td *ngIf="breakDurationExact">
                                    <input class="form-control" type="number" step=any placeholder = {{nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min}}>
                                    <!-- <input [(ngModel)]="breakDurationExactAmount" (change)="setExactBreakDuration(true)" class="form-control" type="number" step=any placeholder = {{localBreak?.value[0].local_break_start.input_trigger.break_duration_min}}> -->
                                </td>
                                <!-- <td *ngIf="nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min!=nationalBreak?.value[0].national_break_start.input_trigger.break_duration_max"> -->
                                <td *ngIf="!breakDurationExact">
                                    <div class="form-group row">
                                        <label for="break_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                        <div class="col-sm-4">
                                            <input id="national_break_start_input_break_duration_min" class="form-control" type="number" step=any >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="break_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                        <div class="col-sm-4">
                                            <input id="national_break_start_input_break_duration_max" class="form-control" type="number" step=any >
                                        </div>
                                    </div>                
                                </td>
                            </tr>

                            <tr >
                                <th>Break Auto Return</th><td></td>
                                <td><select id="national_break_start_input_break_auto_return" class ="form-control">
                                    <option value="true">true</option>
                                    <option value="false" >false</option>
                                </select></td>
                            </tr>

                        </tbody>
                    </table>

                <!-- National Break Start - Output Trigger -->
                    <div >
                        <label for="national_break_start_table" style="font-size: larger;color:#00A8E0">Output Trigger</label>
                        <table  class ="table table-striped">
                            <tbody>

                            <!-- If Splice Command Type is [6], then the value for splice command should be [6] for both input and output trigger -->
                            <tr>
                                <th>Splice Command Type</th><td></td>
                                <td><select id="national_break_start_output_splice_command" name="splice_command_type_start" class="form-control" >
                                    <option value="5" >5</option>
                                    <option value="6" >6</option>
                                </select></td>
                            </tr>

                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                            <tr>
                                <th>Segmentation Type Id</th><td></td>
                                <td><select id="national_break_start_output_segmentation_type_id" name="segmentation_type_id_start" class="form-control" >
                                    <option value="10">10&nbsp;  [ Program Start ]</option>
                                    <option value="20">20&nbsp;  [ Chapter Start ]</option>
                                    <option value="22">22&nbsp;  [ Break Start ]</option>
                                    <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                                    <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                                    <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                                    <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                                    <option value="40">40&nbsp;  [ Unscheduled Event Start ]</option>
                                    <option value="50">50&nbsp;  [ Network Start ]</option>
                                </select></td>
                            </tr>
                            
                            <tr>
                                <th>Out of Network Indicator</th><td></td>
                                <td><select id="national_break_start_output_out_of_network_indicator" class="form-control">
                                    <option value="true">true</option>
                                </select></td>
                            </tr>

                            <tr>
                                <th>Splice Event Id</th><td></td>
                                <td><select id="national_break_start_output_splice_event_id" class="form-control">
                                    <option value="isnumeric">Must Be Numeric</option>
                                    <option value="notnumeric">Not Numeric</option>
                                </select></td>
                            </tr>

                            <tr>
                                <th>Immediate Flag</th><td></td>
                                <td><select id="national_break_start_output_splice_immediate_flag" class="form-control">
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select></td>
                            </tr>

                            <tr>
                                <th>Duration Flag</th><td></td>
                                <td><select id="national_break_start_ouput_duration_flag" class="form-control">
                                    <option value="true" >true</option>
                                    <option value="false">false</option>
                                </select></td>
                            </tr>

                            <tr>
                                <th>Break Duration</th>
                                <td><select id= "national_break_start_output_break_duration" class="form-control">
                                    <option value="">Change Break Duration Type</option>
                                    <option>Exact Time (seconds)</option>
                                    <option>Time Range (seconds)</option>
                                </select></td>
                                <!-- <td *ngIf="nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min==nationalBreak?.value[0].national_break_start.input_trigger.break_duration_max"> -->
                                <td *ngIf="breakDurationExact">
                                    <input class="form-control" type="number" step=any placeholder = {{nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min}}>
                                </td>
                                <!-- <td *ngIf="nationalBreak?.value[0].national_break_start.input_trigger.break_duration_min!=nationalBreak?.value[0].national_break_start.input_trigger.break_duration_max"> -->
                                <td *ngIf="!breakDurationExact">
                                    <div class="form-group row">
                                        <label for="break_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                        <div class="col-sm-4">
                                            <input id="national_break_start_output_break_duration_min" class="form-control" type="number" step=any >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="break_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                        <div class="col-sm-4">
                                            <input id="national_break_start_output_break_duration_max" class="form-control" type="number" step=any >
                                        </div>
                                    </div>                
                                </td>
                            </tr>

                            <tr >
                                <th>Break Auto Return</th><td></td>
                                <td><select id="national_break_start_output_break_auto_return" class ="form-control">
                                    <option value="true">true</option>
                                    <option value="false" >false</option>
                                </select></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    
                    <div class="custom-control custom-switch">
                        <input  type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="nationalBreakEndSwitch">Include Break End</label>
                    </div>

                <!-- National Break End -->
                    <div>
                        <br><h5>End Trigger</h5>
                        <form class="form-inline">
                            <div class="form-group">
                            </div>
                        </form>
                <!-- National Break End - Input Trigger -->
                        <label for="national_break_end_table" style="font-size: larger; color:#00A8E0">Input Trigger</label>
                        <table id="national_break_end_table" class="table table-striped" >
                            <tbody>

                                <!-- If Splice Command Type is [5], then show Segmentation Type Id -->
                                <!-- If Splice Command Type is [6], then remove Action -->
                                <tr>
                                    <th>Action</th><td></td>
                                    <td><select id="national_break_end_input_action"  class="form-control" >
                                        <option value="NOOP">NOOP</option>
                                        <option value="Delete">DELETE</option>
                                        <option value="replace">REPLACE</option>
                                    </select></td>
                                </tr>

                                <!-- If Splice Command Type is [6], then the value for splice command should be [6] for both input and output trigger -->
                                <tr>
                                    <th>Splice Command Type</th><td></td>
                                    <td><select id="national_break_end_input_splice_command" name="splice_command_type_end" class="form-control" >
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select></td>
                                </tr>

                                <!-- If Splice Command Type is [5], then remove Segmentation Type Id -->
                                <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                                <tr>
                                    <th>Segmentation Type Id</th><td></td>
                                    <td><select id="national_break_end_input_segmentation_type_id" name="segmentation_type_id_end" class="form-control" >
                                        <option value="11">11&nbsp;  [ Program End ]</option>
                                        <option value="21">21&nbsp;  [ Chapter End ]</option>
                                        <option value="23">23&nbsp;  [ Break End ]</option>
                                        <option value="31">31&nbsp;  [ Provider Advertisement End ]</option>
                                        <option value="33">33&nbsp;  [ Distributor Advertisement End ]</option>
                                        <option value="35">35&nbsp;  [ Provider Placement Opportunity End ]</option>
                                        <option value="37">37&nbsp;  [ Distributor Placement Opportunity End ]</option>
                                        <option value="41">41&nbsp;  [ Unscheduled Event End ]</option>
                                        <option value="51">51&nbsp;  [ Network End ]</option>
                                    </select></td>
                                </tr>

                                <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                                <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                                <tr>
                                    <th>Out of Network Indicator</th><td></td>
                                    <td><select id="national_break_end_input_out_of_network_indicator" class="form-control">
                                        <option value="false">false</option>
                                    </select></td>
                                </tr>

                                <!-- If Splice Command Type is [5], then show Splice Event Id -->
                                <!-- If Splice Command Type is [6], then remove Splice Event Id -->
                                <tr>
                                    <th>Splice Event Id</th><td></td>
                                    <td><select id="national_break_end_input_splice_event_id" class="form-control">
                                        <option value="isnumeric">Must Be Numeric</option>
                                        <option value="notnumeric">Not Numeric</option>
                                    </select></td>
                                </tr>
                                
                                <!-- If Splice Command Type is [5], then show Splice Immediate Flag-->
                                <!-- If Splice Command Type is [6], then remove Splice Immediate Flag -->
                                <tr>
                                    <th>Immediate Flag</th><td></td>
                                    <td><select id="national_break_end_input_splice_immediate_flag" class="form-control">
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select></td>
                                </tr>
    
                                <tr>
                                    <th>Duration Flag</th><td></td>
                                    <td><select id="national_break_end_input_break_duration_flag" class="form-control">
                                        <option value="false">false</option>
                                    </select></td>
                                </tr>

                            </tbody>
                        </table>
                <!-- National Break End - Output Trigger -->
                        <div >
                            <label for="national_break_end_table" style="font-size: larger; color:#00A8E0">Output Trigger</label>
                            <table id="national_break_end_table" class="table table-striped" >
                                <tbody>
        
                                    <!-- If Splice Command Type is [6], then the value for splice command should be [6] for both input and output trigger -->
                                    <tr>
                                        <th>Splice Command Type</th><td></td>
                                        <td><select id="national_break_end_output_splice_command" name="splice_command_type_start" class="form-control" >
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select></td>
                                    </tr>

                                    <!-- If Splice Command Type is [5], then remove Segmentation Type Id -->
                                    <!-- If Splice Command Type is [6], then show Segmentation Type Id -->
                                    <tr>
                                        <th>Segmentation Type Id</th><td></td>
                                        <td><select id="national_break_end_output_segmentation_type_id" name="segmentation_type_id_end" class="form-control" >
                                            <option value="11">11&nbsp;  [ Program End ]</option>
                                            <option value="21">21&nbsp;  [ Chapter End ]</option>
                                            <option value="23">23&nbsp;  [ Break End ]</option>
                                            <option value="31">31&nbsp;  [ Provider Advertisement End ]</option>
                                            <option value="33">33&nbsp;  [ Distributor Advertisement End ]</option>
                                            <option value="35">35&nbsp;  [ Provider Placement Opportunity End ]</option>
                                            <option value="37">37&nbsp;  [ Distributor Placement Opportunity End ]</option>
                                            <option value="41">41&nbsp;  [ Unscheduled Event End ]</option>
                                            <option value="51">51&nbsp;  [ Network End ]</option>
                                        </select></td>
                                    </tr>

                                    <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                                    <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                                    <tr>
                                        <th>Out of Network Indicator</th><td></td>
                                        <td><select id="national_break_end_output_out_of_network_indicator" class="form-control">
                                            <option value="false">false</option>
                                        </select></td>
                                    </tr>
                                    
                                    <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                                    <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                                    <tr>
                                        <th>Immediate Flag</th><td></td>
                                        <td><select id="national_break_end_output_splice_immediate_flag" class="form-control">
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select></td>
                                    </tr>
                                    
                                    <!-- If Splice Command Type is [5], then show Out of Network Indicator -->
                                    <!-- If Splice Command Type is [6], then remove Out of Network Indicator -->
                                    <tr>
                                        <th>Splice Event Id</th><td></td>
                                        <td><select id="national_break_end_output_splice_event_id" class="form-control">
                                            <option value="isnumeric">Must Be Numeric</option>
                                            <option value="notnumeric">Not Numeric</option>
                                        </select></td>
                                    </tr>
        
                                    <tr>
                                        <th>Duration Flag</th><td></td>
                                        <td><select id="national_break_end_output_break_duration_flag" class="form-control">
                                            <option value="false">false</option>
                                        </select></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="break_duration_deviation_tolerance">Time Separation Deviation Tolerance (seconds):</label>
                        <input id="national_break_end_deviation_tolerance" type=number step=any class="form-control" style="width:auto; display:inline-block; margin-left: 10px;">
                    </div>
                    </ng-template>
              </ng-template>
          </ngb-panel>
        </ngb-accordion>