<ngb-accordion style="margin: 10px" id="RemoveNational" [destroyOnHide]="false">
    <ngb-panel>
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
          <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" style="margin-left: auto; font-size:large;">National Break</button></h3>
          <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" (click)="removeNational()" style="margin-left: auto; font-size:large;">Remove</button></h3>
          </div>
              <ng-template ngbPanelContent>
                <div class="custom-control custom-switch">
                  <input [(ngModel)]="national_break_validate_splice_count" type="checkbox" class="custom-control-input" id="national_break_validate_splice_count">
                  <label class="custom-control-label" for="national_break_validate_splice_count">Validate Number of Breaks</label>
              </div>
              <br>
              <form class=form-inline>

                  <div *ngIf="national_break_validate_splice_count" class="form-group">
                      <!-- <div> -->
                      <label for="expected_splices_hour">Expected Number of Breaks per Hour: </label>
                      <input id="national_break_expected_splices_hour" class="form-control" name="expected_splices_hour" type="number" step=any  style="display:inline-block;margin-left:10px;width:60px">
                  </div>
              </form>
              <!-- National Break Start -->
              <br><h4>National Break</h4>
              <br><h5>Start Trigger</h5>
              <form class="form-inline">
                  <div class="form-group">
                  </div>
              </form>
              <!-- National Break Start - Input Trigger -->
              <label for="national_break_start_table" style="font-size: larger;color:#00A8E0">Input Trigger</label>
              <table  class ="table table-striped">
                  <tbody>

                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'">
                        <!-- <tr> -->
                          <th>Action</th><td></td>
                          <td><select [(ngModel)]="national_break_start_input_action"  class="form-control" id="national_break_start_input_action">
                              <option value="NOOP">NOOP</option>
                              <option value="DELETE">DELETE</option>
                              <option value="REPLACE">REPLACE</option>
                          </select></td>
                      </tr>

                      <tr>
                          <th>Splice Command Type</th><td></td>
                          <td><select id="national_break_start_input_splice_command" [(ngModel)]="national_break_start_input_splice_command" name="splice_command_type_start" class="form-control" >
                              <option value="[5] splice_insert">[5] splice_insert</option>
                              <option value="[6] time_signal">[6] time_signal</option>
                          </select></td>
                      </tr>
                  
                      <tr *ngIf="national_break_start_input_splice_command=='[6] time_signal'">
                          <!-- <tr> -->
                          <th>Segmentation Type Id</th><td></td>
                          <td><select id="national_break_start_input_segmentation_type_id" class="form-control" >
                            <option value="22">22&nbsp;  [ Break Start ]</option>
                            <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                            <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                            <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                            <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                          </select></td>
                      </tr>
                      
                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'"> 
                        <!-- <tr> -->
                          <th>Out of Network Indicator</th><td></td>
                          <td><select id="national_break_start_input_out_of_network_indicator" class="form-control">
                              <option value="true">true</option>
                          </select></td>
                      </tr>

                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'">
                        <!-- <tr> -->
                          <th>Splice Event Id</th><td></td>
                          <td><select id="national_break_start_input_splice_event_id" class="form-control">
                              <option value="Must Be Numeric">Must Be Numeric</option>
                              <option value="Not Numeric">Not Numeric</option>
                          </select></td>
                      </tr>
                      
                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'">
                          <th>Immediate Flag</th><td></td>
                          <td><select id="national_break_start_input_splice_immediate_flag" class="form-control">
                              <option value="true">true</option>
                              <option value="false">false</option>
                          </select></td>
                      </tr>

                      <tr *ngIf="national_break_start_input_splice_command=='[6] time_signal'">
                        <th>Immediate Flag</th><td></td>
                        <td><select id="national_break_start_input_splice_immediate_flag" class="form-control">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select></td>
                    </tr>

                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'">
                          <th>Duration Flag</th><td></td>
                          <td><select id="national_break_start_input_duration_flag" class="form-control" [(ngModel)]="national_break_duration_flag">
                              <option value="true" >true</option>
                              <option value="false">false</option>
                          </select></td>
                      </tr>

                      <tr *ngIf="national_break_start_input_splice_command=='[6] time_signal'">
                        <th>Duration Flag</th><td></td>
                        <td><select id="national_break_start_input_duration_flag" class="form-control" [(ngModel)]="national_break_duration_flag">
                            <option value="true" >true</option>
                            <option value="false">false</option>
                        </select></td>
                    </tr>

                      <tr *ngIf="national_break_duration_flag=='true'">
                        <!-- <tr> -->
                          <th>Break Duration</th>
                          <td><select [(ngModel)]="national_break_start_input_break_duration" id="national_break_start_input_break_duration" name= "national_break_start_input_break_duration" class="form-control">
                            <option value="" disabled selected hidden>Change Break Duration Type</option>
                              <option value="exact">Exact Time (seconds)</option>
                              <option value="range">Time Range (seconds)</option>
                          </select></td>

                          <td *ngIf= "national_break_start_input_break_duration == 'range'">
                              <div class="form-group row">
                                  <label for="break_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                  <div class="col-sm-4">
                                      <input id="national_break_start_input_break_duration_min" class="form-control" type="number" step=any >
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="break_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                  <div class="col-sm-4">
                                      <input id="national_break_start_input_break_duration_max" class="form-control" type="number" step=any >
                                  </div>
                              </div>                
                          </td>
                          <td *ngIf = "national_break_start_input_break_duration == 'exact'">
                            <div class="form-group row">
                                <label for="break_duration_min" class="col-sm-3 col-form-label">Exact: (sec)</label>
                                <div class="col-sm-4">
                                    <input id="national_break_start_input_break_duration_min" class="form-control" type="number" step=any>
                                </div>
                            </div>
                        </td>
                      </tr>

                      <!-- <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert' && national_break_duration_flag=='true'"> -->
                      <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert' && national_break_duration_flag=='true'">
                          <th>Break Auto Return</th><td></td>
                          <td><select id="national_break_start_input_break_auto_return" class ="form-control">
                              <option value="true">true</option>
                              <option value="false">false</option>
                          </select></td>
                      </tr>

                  </tbody>
              </table>

                <!-- National Break Start - Output Trigger -->
                <div *ngIf="national_break_start_input_action=='REPLACE' || national_break_start_input_splice_command=='[6] time_signal'">
                    <!-- <div> -->
                    <label for="national_break_start_table" style="font-size: larger;color:#00A8E0">Output Trigger</label>
                    <table  class ="table table-striped">
                        <tbody>

                        <!-- <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'"> -->
                        <tr>
                            <th>Splice Command Type</th><td></td>
                            <td><select id="national_break_start_output_splice_command" [(ngModel)]="national_break_start_output_splice_command" class="form-control">
                                <option value="[5] splice_insert">[5] splice_insert</option>
                                <option value="[6] time_signal">[6] time_signal</option>
                            </select></td>
                        </tr>

                        <!-- <tr *ngIf="national_break_start_input_splice_command=='[6] time_signal'">
                            <th>Splice Command Type</th><td></td>
                            <td><select id="national_break_start_output_splice_command" class="form-control">
                                <option value="[6] time_signal">[6] time_signal</option>
                            </select></td>
                        </tr> -->

                        <tr *ngIf="national_break_start_output_splice_command=='[6] time_signal'">
                        <!-- <tr> -->
                            <th>Segmentation Type Id</th><td></td>
                            <td><select id="national_break_start_output_segmentation_type_id" class="form-control">
                                <option value="22">22&nbsp;  [ Break Start ]</option>
                                <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                                <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                                <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                                <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                            </select></td>
                        </tr>
                        
                        <tr *ngIf="national_break_start_output_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                            <th>Out of Network Indicator</th><td></td>
                            <td><select id="national_break_start_output_out_of_network_indicator" class="form-control">
                                <option value="true">true</option>
                                <!-- <option value="false">false</option> -->
                            </select></td>
                        </tr>

                        <tr *ngIf="national_break_start_output_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                            <th>Splice Event Id</th><td></td>
                            <td><select id="national_break_start_output_splice_event_id" class="form-control">
                                <option value="Must Be Numeric">Must Be Numeric</option>
                                <option value="Not Numeric">Not Numeric</option>
                            </select></td>
                        </tr>

                        <tr *ngIf="national_break_start_output_splice_command=='[5] splice_insert'">
                            <th>Immediate Flag</th><td></td>
                            <td><select id="national_break_start_output_splice_immediate_flag" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>

                        <tr *ngIf="national_break_start_output_splice_command=='[6] time_signal'">
                            <th>Immediate Flag</th><td></td>
                            <td><select id="national_break_start_output_splice_immediate_flag" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>
                        
                        <tr *ngIf="national_break_start_output_splice_command=='[5] splice_insert'">
                            <th>Duration Flag</th><td></td>
                            <td><select id="national_break_start_output_duration_flag" [(ngModel)]="national_break_duration_flag_start_output" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>

                        <tr *ngIf="national_break_start_output_splice_command=='[6] time_signal'">
                            <th>Duration Flag</th><td></td>
                            <td><select id="national_break_start_output_duration_flag" [(ngModel)]="national_break_duration_flag_start_output" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>

                        <tr *ngIf="national_break_duration_flag_start_output=='true'">
                            <!-- <tr> -->
                            <th>Break Duration</th>
                            <td><select [(ngModel)]="national_break_start_output_break_duration" id= "national_break_start_output_break_duration" class="form-control">
                                <option value="" disabled selected hidden>Change Break Duration Type</option>
                                <option value="exact">Exact Time (seconds)</option>
                                <option value="range">Time Range (seconds)</option>
                            </select></td>
                            <td *ngIf="national_break_start_output_break_duration == 'range'">
                                <div class="form-group row">
                                    <label for="break_duration_min" class="col-sm-3 col-form-label">min (sec):</label>
                                    <div class="col-sm-4">
                                        <input id="national_break_start_output_break_duration_min" class="form-control" type="number" step=any>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="break_duration_max" class="col-sm-3 col-form-label">max (sec):</label>
                                    <div class="col-sm-4">
                                        <input id="national_break_start_output_break_duration_max" class="form-control" type="number" step=any>
                                    </div>
                                </div>
                            </td>
                            <td *ngIf = "national_break_start_output_break_duration == 'exact'">
                                <div class="form-group row">
                                    <label for="break_duration_min" class="col-sm-3 col-form-label">Exact: (sec)</label>
                                    <div class="col-sm-4">
                                        <input id="national_break_start_output_break_duration_min" class="form-control" type="number" step=any>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="national_break_start_output_splice_command=='[5] splice_insert' && national_break_duration_flag_start_output=='true'">
                            <th>Break Auto Return</th><td></td>
                            <td><select id="national_break_start_output_break_auto_return" class ="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

          <!-- Break End Trigger -->
              <div class="custom-control custom-switch">
                  <input  [(ngModel)]="national_break_include_break_end" type="checkbox" class="custom-control-input" id="national_break_include_break_end">
                  <label class="custom-control-label" for="national_break_include_break_end">Include Break End</label>
              </div>

          <!-- National Break End -->
          <div *ngIf="national_break_include_break_end">
              <!-- <div> -->
                  <br><h5>End Trigger</h5>
                  <form class="form-inline">
                      <div class="form-group">
                      </div>
                  </form>
          <!-- National Break End - Input Trigger -->
                  <label for="national_break_end_table" style="font-size: larger; color:#00A8E0">Input Trigger</label>
                  <table id="national_break_end_table" class="table table-striped" >
                      <tbody>

                          <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                              <th>Action</th><td></td>
                              <td><select id="national_break_end_input_action" [(ngModel)]="national_break_end_input_action" class="form-control">
                                  <option value="NOOP">NOOP</option>
                                  <option value="DELETE">DELETE</option>
                                  <option value="REPLACE">REPLACE</option>
                              </select></td>
                          </tr>

                          <!-- <tr *ngIf="national_break_start_input_splice_command=='[5] splice_insert'"> -->
                          <tr>
                            <th>Splice Command Type</th><td></td>
                            <td><select id="national_break_end_input_splice_command" [(ngModel)]="national_break_end_input_splice_command" name="splice_command_type_end" class="form-control" >
                                <option value="[5] splice_insert">[5] splice_insert</option>
                                <option value="[6] time_signal">[6] time_signal</option>
                            </select></td>
                          </tr>

                          <!-- <tr *ngIf="national_break_start_input_splice_command=='[6] time_signal'">
                              <th>Splice Command Type</th><td></td>
                              <td><select id="national_break_end_input_splice_command" name="splice_command_type_end" class="form-control" >
                                  <option value="[6] time_signal">[6] time_signal</option>
                              </select></td>
                          </tr> -->

                          <tr *ngIf="national_break_end_input_splice_command=='[6] time_signal'">
                          <!-- <tr> -->
                              <th>Segmentation Type Id</th><td></td>
                              <td><select id="national_break_end_input_segmentation_type_id" name="segmentation_type_id_end" class="form-control" >
                                <option value="22">22&nbsp;  [ Break Start ]</option>
                                <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                                <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                                <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                                <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                              </select></td>
                          </tr>

                          <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                              <th>Out of Network Indicator</th><td></td>
                              <td><select id="national_break_end_input_out_of_network_indicator" class="form-control">
                                  <option value="false">false</option>
                              </select></td>
                          </tr>

                          <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                              <th>Splice Event Id</th><td></td>
                              <td><select id="national_break_end_input_splice_event_id" class="form-control">
                                  <option value="Must Be Numeric">Must Be Numeric</option>
                                  <option value="Not Numeric">Not Numeric</option>
                              </select></td>
                          </tr>
                          
                          <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert'">
                            <!-- <tr> -->
                              <th>Immediate Flag</th><td></td>
                              <td><select id="national_break_end_input_splice_immediate_flag" class="form-control">
                                  <option value="true">true</option>
                                  <option value="false">false</option>
                              </select></td>
                          </tr>

                          <!-- <tr> -->
                          <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert' || national_break_end_input_splice_command=='[6] time_signal'">
                              <th>Duration Flag</th><td></td>
                              <td><select id="national_break_end_input_break_duration_flag" class="form-control">
                                  <option value="false">false</option>
                              </select></td>
                          </tr>

                      </tbody>
                  </table>
          <!-- National Break End - Output Trigger -->
                    <div *ngIf="national_break_end_input_action=='REPLACE' || national_break_start_input_splice_command=='[6] time_signal'">
                      <label for="national_break_end_table" style="font-size: larger; color:#00A8E0">Output Trigger</label>
                      <table id="national_break_end_table" class="table table-striped" >
                          <tbody>
  
                              <!-- <tr *ngIf="national_break_end_input_splice_command=='[5] splice_insert'"> -->
                              <tr>
                                <th>Splice Command Type</th><td></td>
                                <td><select id="national_break_end_output_splice_command" [(ngModel)]="national_break_end_output_splice_command" name="splice_command_type_end" class="form-control" >
                                    <option value="[5] splice_insert">[5] splice_insert</option>
                                    <option value="[6] time_signal">[6] time_signal</option>
                                </select></td>
                              </tr>

                              <!-- <tr *ngIf="national_break_end_input_splice_command=='[6] time_signal'">
                                  <th>Splice Command Type</th><td></td>
                                  <td><select id="national_break_end_output_splice_command" name="splice_command_type_start" class="form-control" >
                                      <option value="[6] time_signal">[6] time_signal</option>
                                  </select></td>
                              </tr> -->

                              <tr *ngIf="national_break_end_output_splice_command=='[6] time_signal'">
                                <!-- <tr> -->
                                  <th>Segmentation Type Id</th><td></td>
                                  <td><select id="national_break_end_output_segmentation_type_id" name="segmentation_type_id_end" class="form-control" >
                                    <option value="22">22&nbsp;  [ Break Start ]</option>
                                    <option value="30">30&nbsp;  [ Provider Advertisement Start ]</option>
                                    <option value="32">32&nbsp;  [ Distributor Advertisement Start ]</option>
                                    <option value="34">34&nbsp;  [ Provider Placement Opportunity Start ]</option>
                                    <option value="36">36&nbsp;  [ Distributor Placement Opportunity Start ]</option>
                                  </select></td>
                              </tr>

                              <tr *ngIf="national_break_end_output_splice_command=='[5] splice_insert'">
                                <!-- <tr> -->
                                  <th>Out of Network Indicator</th><td></td>
                                  <td><select id="national_break_end_output_out_of_network_indicator" class="form-control">
                                      <option value="false">false</option>
                                  </select></td>
                              </tr>

                              <tr *ngIf="national_break_end_output_splice_command=='[5] splice_insert'">
                                <!-- <tr> -->
                                  <th>Splice Event Id</th><td></td>
                                  <td><select id="national_break_end_output_splice_event_id" class="form-control">
                                      <option value="Must Be Numeric">Must Be Numeric</option>
                                      <option value="Not Numeric">Not Numeric</option>
                                  </select></td>
                              </tr>
                              
                              <tr *ngIf="national_break_end_output_splice_command=='[5] splice_insert'">
                                <!-- <tr> -->
                                  <th>Immediate Flag</th><td></td>
                                  <td><select id="national_break_end_output_splice_immediate_flag" class="form-control">
                                      <option value="true">true</option>
                                      <option value="false">false</option>
                                  </select></td>
                              </tr>
                              
                              <tr *ngIf="national_break_end_output_splice_command=='[5] splice_insert' || national_break_end_output_splice_command=='[6] time_signal'">
                                  <th>Duration Flag</th><td></td>
                                  <td><select id="national_break_end_output_break_duration_flag" class="form-control">
                                      <option value="false">false</option>
                                  </select></td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
              <br>
              <div *ngIf="national_break_include_break_end">
                  <!-- <div> -->
                  <label for="break_duration_deviation_tolerance">Time Separation Deviation Tolerance (seconds):</label>
                  <input id="national_break_end_deviation_tolerance" type=number step=any class="form-control" style="width:auto; display:inline-block; margin-left: 10px;">
              </div>
              </ng-template>
        </ng-template>
    </ngb-panel>
  </ngb-accordion>