
    <ngb-accordion style="margin: 10px" id="RemoveContent" [destroyOnHide]="false">
      <ngb-panel>
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
            <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" style="margin-left: auto; font-size:large;">Content Id</button></h3>
            <h3 class="m-0"><button ngbPanelToggle class="btn btn-link p-0" (click)="removeContent()" style="margin-left: auto; font-size:large;">Remove</button></h3>
            </div>
            <ng-template ngbPanelContent>
                 
                  
            <!-- Properties VCR Hide -->
            <!-- Content Id Start -->
            <br><h4>Content Id Configuration:</h4>
            <br>
            <!-- <br><h4>Start Trigger</h4> -->
            <form class="form-inline">
                <div class="form-group">
                </div>
            </form>
            <br>
            <!-- Segmentation Type Id - Input Trigger -->
            <div>
            <!-- <label for="content_id_start_table" style="font-size: larger;color:#00A8E0">Input Trigger</label> -->
            <table id="content_id_start_table" class ="table table-striped">
                <tbody>

                <tr>
                <th>Splice Command Type</th><td></td>
                <td><select id="content_id_splice_command_type" [(ngModel)]="content_id_splice_command_type" class="form-control">
                    <option value="5">5</option>
                </select></td>
                </tr>

                <tr *ngIf="content_id_splice_command_type=='5'">
                <th>Segmentation Type Id</th><td></td>
                <td><select id="content_id_segmentation_type_id" class="form-control">
                    <option value="1">1</option>
                </select></td>
                </tr>

                <tr *ngIf="content_id_splice_command_type=='5'">
                <th>Segmentation UPID</th><td></td>
                <td><select id="content_id_segmentation_upid" class="form-control">
                    <option value="Must Be Numeric">Must Be Numeric</option>
                    <option value="Not Numeric">Not Numeric</option>
                </select></td>
                </tr>
                
                <tr *ngIf="content_id_splice_command_type=='5'">
                <th>Time Specified Flag</th><td></td>
                <td><select id="content_id_time_specified_flag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

                </tbody>
            </table>
            </div>

            <!-- Segmentation Type Id - Output Trigger -->
            <!-- <div>
            <label for="content_id_start_table" style="font-size: larger;color:#00A8E0">Output Trigger</label>
            <table id="content_id_start_table" class ="table table-striped">
                <tbody>
                
                <tr>
                <th>Segmentation Type Id</th><td></td>
                <td><select id="content_id_segmentation_type_id" class="form-control">
                    <option value="1">1</option>
                </select></td>
                </tr>

                <tr>
                <th>Splice Command Type</th><td></td>
                <td><select id="content_id_splice_command_type_start" class="form-control">
                    <option value="5">5</option>
                </select></td>
                </tr>
                
                <tr>
                <th>Segmentation Event Cancel Indicator</th><td></td>
                <td><select id="content_id_segmentation_event_cancel_indicator" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

                <tr>
                <th>Program Segmentation Flag</th><td></td>
                <td><select id="content_id_program_segmentation_flag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

                <tr>
                <th>Segmentation Duration Flag</th><td></td>
                <td><select id="content_id_segmentation_duration_flag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

                <tr>
                <th>Delivery Not Restricted Flag</th><td></td>
                <td><select id="content_id_delivery_not_restricted_flag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

                <tr>
                <th>Segmentation UPID Type</th><td></td>
                <td><select id="content_id_segmentation_upid_type" class="form-control">
                    <option value="12">12</option>
                </select></td>
                </tr>

                <tr>
                <th>Segmentation UPID Length</th><td></td>
                <td><select id="content_id_segmentation_upid_length" class="form-control">
                    <option value="26">26</option>
                </select></td>
                </tr>

                <tr>
                <th>Time Specified Flag</th><td></td>
                <td><select id="content_id_time_specified_flag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></td>
                </tr>

            </tbody>
            </table>
            </div> -->

                </ng-template>
          </ng-template>
      </ngb-panel>
    </ngb-accordion>
