<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<!-- Network_ID -->
<div>
    <div *ngFor="let con of config?.value">
      <div *ngFor="let item of con?.value">
        <span *ngIf="item.key=='network_id'">
          <div style="margin-left:0px; margin-top:25px; margin-bottom: -33px;">
            <h4>{{item.value}}&nbsp;&nbsp;&nbsp;<button class="edit-button btn-outline" type="button" (click)="openEditModal(content)"><i class="far fa-edit"></i></button>
            <button class="delete-button btn-outline" style="float: right;" (click)="openRemoveModal(contentRemove)"><i class="far fa-trash"></i></button>
            </h4>
          </div>
        </span>
      </div>
    </div>

<!-- Edit Network ID and Confirm Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-edit">Edit Network ID</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]="form">
        <div *ngFor="let con of config?.value">
          <div *ngFor="let item of con?.value; let i = index">
            <span *ngIf="item.key=='network_id'">
              <h6>&nbsp;Enter new network name: </h6><br>
                <!-- <input [(ngModel)]="con?.value[i].value" placeholder="con?.value[i].value" [ngModelOptions]="{standalone: true}" class="form-control" style="width: 100%; display:flex"> -->
                <input #network_id type="text" name="network" ng-model="network" formControlName="network_id" class="form-control" style="width: 100%; display:flex" placeholder="{{item.value}}">
                <br>
                <div *ngIf="isFieldRequired('network_id')" class="text-danger" style="display: inline-block">&nbsp;* Network ID Required</div>
                <div *ngIf="isFieldInvalid('network_id')" class="text-danger" style="display: inline-block">&nbsp;* Invalid Network ID</div>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveNetwork()">Save</button>
    </div>
  </ng-template>

<!-- Remove Network and Confirm Modal -->
    <ng-template #contentRemove let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title-remove">Confirm Changes</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <h6>Delete Network:</h6>
              <br>
              <div *ngFor="let con of config?.value">
                <div *ngFor="let item of con?.value">
                  <span *ngIf="item.key=='network_id'">
                      <div style="font-weight: bold; font-style: italic; display:inline-block">{{item.value}}</div>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="remove();modal.dismiss()">Save</button>
        </div>
      </ng-template>

<!-- Added Break | Recipient Email Address -->
    <br>
    <hr/> 
    <br>
    <div style="margin-bottom:0px;">
    </div>
    <form class="form-horizontal" [formGroup]="form">
      <div *ngFor="let con of config?.value">
        <div *ngFor="let item of con?.value; let i = index">
          <span *ngIf="item.key=='recipient_emails'">
            <div style="margin-bottom:10px;">
              <span style="font-weight:500;">Recipient Email Addresses&nbsp;</span><span style="display:inline-block">separated by (","):</span>
            </div>
            <textarea style="width: 100%; display:flex" value="{{item.value}}" class="form-control" style="width:40%"></textarea>
            <div *ngIf="isFieldRequired('recipient_emails')" class="text-danger">* Email Address Required</div>
            <div *ngIf="isFieldInvalid('recipient_emails')" class="text-danger">* Invalid Email Address</div>
          </span>
        </div>
      </div>
    </form>
    <br>

<!-- Validation Frequency -->
<div style="margin-bottom:10px;">
  <!-- <h6>Validation Frequency (sec): </h6> -->
  <div style="margin-bottom:8px;">
    <span style="font-weight:500;">Validation Frequency&nbsp;</span><span style="display:inline-block">(sec):</span>
    </div>
  <div *ngFor="let con of config?.value">
      <div *ngFor="let item of con?.value; let i = index" style="margin-top:10px">
          <span *ngIf="item.key=='frequency'"> 
            <div>
              <!-- <p style="font-weight:500;">Validation Frequency (sec):  -->
              <input [(ngModel)]="con?.value[i].value" placeholder="{{con?.value[i].value}}" type=number step=any class="form-control" style="width:70px; display:inline-block"> 
            </div>  
          </span>
      </div>
    </div>
</div>

<!-- Add New Segment Dropdown-->
    <br>
    <!-- <hr>  -->
    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-sm btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Add New Segment&nbsp;</button>
            <!-- <button class="btn btn-sm btn-dark" id="dropdownBasic1" ngbDropdownToggle>Add New Segment&nbsp;</button> -->
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button type="button" (click)="createLocalBreakComponent()" style="text-align: left; padding-left:12px" ngbDropdownItem>Local Break</button> 
              <button type="button" (click)="createContentIdComponent()" style="text-align: left; padding-left:12px" ngbDropdownItem>Content Id</button> 
              <button type="button" (click)="createPlacementOpportunityComponent()" style="text-align: left; padding-left:12px" ngbDropdownItem>Placement Opportunity</button> 
              <button type="button" (click)="createProgramComponent()" style="text-align: left; padding-left:12px" ngbDropdownItem>Program</button> 
              <button type="button" (click)="createProviderAdComponent()" style="text-align: left; padding-left:12px" ngbDropdownItem>Provider ad</button>           
            </div>
          </div>
        </div>
    </div>
    <div>
        <ng-template #viewContainerRef></ng-template>
    </div>

<!-- Save Button -->
    <hr> 
    <!-- <button type="button" class="btn btn-sm btn-outline-info" (click)="saveChanges()" style="margin-bottom:50px; float:right;">Save Changes</button> -->
    <button type="button" class="btn btn-sm btn-outline-info" style="margin-bottom:50px;float:right;">Save Changes</button>
<!-- Closing Div-->
</div>